.header {
    width: auto;
    margin: 0 auto;
    height: 60px;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
    border-radius: 8px;
    box-shadow: 0 2px 22.5px 0 rgba(28, 29, 31, 0.05);
}

.cursor {
    cursor: pointer;
}


.link {
    color: #0F0F1080; 
    transition: color 0.2s;
    text-decoration: none;
}

.active {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    
}

.link:hover {
    color: #4263EB;
}

.img {
    max-width: 20px;
    height: auto;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
        
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
        --indicator-color: rgb(27, 174, 64);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        --indicator-color: #4263EB;
    }
}

.pulsingIndicator {
    display: inline-block;
    animation: pulse 1.5s infinite ease-in-out;
}