.header {
    width: auto;
    margin: 0 auto;
    height: 60px;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
    border-radius: 8px;
    box-shadow: 0 2px 22.5px 0 rgba(28, 29, 31, 0.05);
}

.cursor {
    cursor: pointer;
}
